.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  color: #003366;
}

.card-text {
  color: #444;
}

.section-text {
  margin-top: 10px;
  color: #666;
  font-size: 0.9rem;
}

.text-body-secondary {
  font-weight: bold;
  font-size: medium;
  color: #000000;
}

.btn {
  margin-left: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 25px;
  background-color: darkgray;
}
