div h1 {
  color: grey;
}

body {
  margin: 0; /* Elimina por defecto márgenes del navegador. */
  background-color: #ffffff;
  display: flex; /* Activa Flexbox para centrar el contenido. */
  justify-content: center; /* Centrar horizontalmente. */
  align-items: center; /* Centrar verticalmente. */
  height: 100vh;
}

.video-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
}

.video-container video {
  width: 80%; /* El vídeo ocupa el 80% del ancho de la pantalla.*/
  max-width: 1200px; /* Pero no más de 800 píxeles*/
  border: 4px solid #fff;
  border-radius: 10px;
}

button {
  border: 0;
  background-image: linear-gradient(150deg, #a9a9a9, #4682b4, #00ddff);
  background-color: st;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button span {
  background-color: #111;
  padding: 24px 24px;
  border-radius: 6px;
  transition: 0.3s;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

#backButton {
  border: 0;
  background-image: linear-gradient(150deg, #a9a9a9, #4682b4, #00ddff);
  background-color: st;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#backButton span {
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.6s;
}

#backButton:hover span {
  background: none;
}

#backButton:active {
  transform: scale(0.9);
}

.pulsadores {
  display: flex;
  justify-content: space-between; /* Esto los separa a cada punta */
  margin-top: 10px;
  padding: 0 20px;
}
